.editor_wrapper {
  background: rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.editor_wrapper :global(.jodit-container) {
  position: relative;
  border: none;
}

.editor_wrapper :global(.jodit-toolbar__box) {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  border-inline: 1px solid #dadada;
  background-color: white;
}

.editor_wrapper :global(.jodit-workplace) {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  position: relative;
  cursor: text;
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.06); */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.editor_wrapper :global(.jodit-wysiwyg) {
  /* background-color: rgba(0, 0, 0, 0.06); */
  transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  padding: 0px 16px 8px !important;
}

.editor_wrapper :global(.jodit-placeholder) {
  padding: 0px 16px;
}

.editor_wrapper :global(.jodit-wysiwyg > ol),
.editor_wrapper :global(.jodit-wysiwyg > ul) {
  display: block;

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.editor_wrapper :global(.jodit-wysiwyg ol) {
  list-style-type: decimal;
}

.editor_wrapper :global(.jodit-wysiwyg ul) {
  list-style-type: disc;
}

.editor_wrapper :global(.jodit-wysiwyg a) {
  text-decoration: underline;
  color: #007bff;
}

.editor_wrapper :global(.jodit-wysiwyg > ol),
.editor_wrapper :global(.jodit-wysiwyg > ul) {
  display: block;

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.editor_wrapper :global(.jodit-wysiwyg ol) {
  list-style-type: decimal;
}

.editor_wrapper :global(.jodit-wysiwyg ul) {
  list-style-type: disc;
}

.editor_wrapper :global(.jodit-wysiwyg a) {
  text-decoration: underline;
  color: #007bff;
}

.jodit_form_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.jodit-input-label {
  font-size: 10px;
  color: gray;
  margin-bottom: 2px;
}

.jodit_input {
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  outline: none;
  min-width: 200px;
  border: 1px solid #dadada;
  font-size: 14px;
}

.jodit_buttons {
  display: flex;
  justify-content: space-between;
}

.jodit_button {
  appearance: none;
  background: 0 0;
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  font-style: normal;
  height: 34px;
  min-width: 38px;
  outline: 0;
  padding: 0 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
}

.jodit_unlink_button {
  background-color: #e3e3e3;
  color: #212529;
}

.jodit_link_insert_button {
  background-color: #007bff;
  color: #fff;
}

.richtextRuntimeWrapper a {
  color: #007bff;
  text-decoration: underline;
}

.richtextRuntimeWrapper ul,
.richtextRuntimeWrapper ol {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

.richtextRuntimeWrapper ul {
  list-style-type: disc;
}

.richtextRuntimeWrapper ol {
  list-style-type: decimal;
}
