@theme {
  /* colors */
  --color-resume-10: #f3f8ff;
  --color-resume-50: #e7eefa;
  --color-resume-100: #c7d6e4;
  --color-resume-200: #a8b9cc;
  --color-resume-300: #889db3;
  --color-resume-400: #7188a1;
  --color-resume-500: #59748f;
  --color-resume-600: #4c667e;
  --color-resume-700: #3c5268;
  --color-resume-800: #2e4052;
  --color-resume-900: #1c2c3a;
  --color-custom-grey: #e2e7ed;
  --color-custom-grey100: #e5e5e5;

  /* border radius */
  --border-radius-md: 4px;

  /* box shadow */
  --shadow-level-4px-0.25: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-level-8dp:
    0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12),
    0px 5px 5px rgba(0, 0, 0, 0.2);
  --shadow-level-4dp:
    0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.2);
  --shadow-level-hard: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
