@import "antd/dist/antd.css";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.65rem;
}

@media print {
  body *,
  *::before,
  *::after {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
    color-adjust: exact !important; /*Firefox*/
  }  
}


@page {
  size: A4;
  margin: 0;
}

ul,
li {
  font-size: 0.65rem;
}

p {
  margin: 0;
}
