.title-heading {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .title-heading svg, .title-heading img {
    vertical-align: top;
    margin-right: 10px;
    color: black;
    font-size: 32px;
  }
  
  .title-heading img{
    height: 28px;
    width: 28px;
  }