.name {
  color: #007bff !important;
  margin: 0px;
  font-weight: 500;
}

.main-intro div div {
  margin: 6px 0px 0px 0px;
  height: 30px;
}

.intro-container svg {
  vertical-align: middle;
  margin-right: 8px;
}

.personal-details {
  text-align: right;
  margin-right: 10px;
}

.role {
  color: #17a2b8;
  font-size: 18px;
  font-weight: bold;
  margin-top: 7px !important;
  height: 33px !important;
}

.social {
  padding: 10px;
  border-top: 2px solid #007bff;
  border-bottom: 2px solid #007bff;
  margin: 12px 0px;
}
